@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --greenish: #278b4e;
    --text: #3d3d3d;
    --formBorder: #72727281;
}

*{
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

.objektu-skaicius{
    font-size: 2em;
    font-weight: 500;
    width: 100px;
    color: white;
    border-radius: 100%;
    background-color: var(--greenish);
    text-align: center;
    display: inline-block;
    box-shadow: 1px 1px 1px #133d23;
}

.form-label{
    color: var(--text);
    font-weight: 400;
}

.form-select{
    font-weight: 200;
    border: 1px solid var(--formBorder);
}

.form-control{
    border: 1px solid var(--formBorder);
}

